<header class="top-header">
  <nav class="nav-header">
    <a class="btn-link mb-3" routerLink="/">
      <svg class="svg-el">
        <use class="svg-use" href="./assets/sprite.svg#logo-icon"></use>
      </svg>
    </a>
    <ul class="nav-links">
      <li class="nav-link">
        <a class="btn-link" routerLink="/">
          <svg class="svg-el">
            <use class="svg-use" href="./assets/sprite.svg#acts"></use>
          </svg>
        </a>
      </li>
      <li class="nav-link">
        <a class="btn-link" routerLink="/about">
          <svg class="svg-el">
            <use class="svg-use" href="./assets/sprite.svg#inbox"></use>
          </svg>
        </a>
      </li>
      <li class="nav-link">
        <a class="btn-link" routerLink="/about">
          <svg class="svg-el">
            <use class="svg-use" href="./assets/sprite.svg#chanels"></use>
          </svg>
        </a>
      </li>
      <li class="nav-link">
        <a class="btn-link" routerLink="/about">
          <svg class="svg-el">
            <use class="svg-use" href="./assets/sprite.svg#signed"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
